<div class="left side-menu">
  <div class="sidebar-menu">
    <ul class="nav-menu">
      <li class="menu-title">Navigation</li>
      <li class="active">
        <a [routerLink]="productos">
          <i class="fa fa-product-hunt"></i>
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-address-book"></i>
          <span>Clientes</span>
        </a>
        <ul class="nav-second-level nav-menu">
          <li><a href="">Submenu</a></li>
          <li><a href="">Submenu</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
