<div class="form-group row">
  <div class="col-6 content">
    <button type="button" class="btn btn-info btn-circle">
      <span class="fa fa-plus"></span>
      <a [routerLink]="[nuevo]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        Crear Producto
      </a>
    </button>
  </div>
  <div class="col-6 content">
    <button type="button" class="btn btn-success btn-circle">
      <span class="fa fa-pencil-square-o"></span>
      <a [routerLink]="[gestionar]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        Gestionar Producto
      </a>
    </button>
  </div>
</div>
