$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

html, body {
  background-color: #e9ebee;
  color: #1d2129;
  font-size: 16px;
}

div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.panel {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;

  .panel-title {
    h2 {
      border-bottom: 1px solid #d7d7d7;
      color: #666;
      font-size: 14px;
      font-weight: 200;
      padding: 7px 10px 4px;
      margin: 0;
    }
  }

  .panel-body {
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
  }

  .panel-footer {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
  }
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.items>.item {
  border: 1px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

.ui.items>.item.selected {
  border: 1px solid rgba(163, 51, 200, 0.41);
  border-radius: 5px;
}

.ui.items>.item>.content>.header {
    padding-top: 1em;
}

.products-list {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.product-row {
  border-bottom: 1px solid black;
}

.product-image {
  float: left;
}

.product-info {
  padding: 30px;
  float: left;
}

.price-display {
  padding: 30px;
  float: right;
}

.product-image {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

cf {
    *zoom: 1;
}
