$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~bootstrap/scss/bootstrap";

html, body {
  background-color: #e9ebee;
  color: #1d2129;
  font-size: 16px;
}
